body {
    background-color:#e6dc83;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  h1 {
    color: grey;
    text-align: center;
    padding: 0 10px;
    text-shadow: 2px 2px 0 ;
  }
  
  .check-list {
    margin: 45px auto;
    max-width: 420px;
    background-color: #29323f;
    border-radius: 4px;
    box-shadow: 10px 10px 0 #e6dc83;
    list-style: none;
    padding: 0;
  }
  
  .check-list li {
    padding: 20px 10px 20px 25px;
    border-bottom: 4px solid #e6dc83;
  }
  .check-list li:last-child {
    border-bottom: 0;
  }
  
  .check-list li input[type=checkbox]:checked + span {
    text-decoration: line-through;
    color: #aaa;
  }
  
  .check-list li span {
    display: inline-block;
    margin-left: 12px;
    color: white;
  }
  
  .uncheck-all,
  .check-all {
    text-align: center;
    margin: 25px 0;
  }
  .uncheck-all a,
  .check-all a {
    color: grey;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 200ms ease;
  }
  .uncheck-all a:hover,
  .check-all a:hover {
    color: grey;
  }

  .weekday {
    padding: 18px;
    color: #999;
    width: 1px;
    text-align: center;
    cursor: pointer;
    border: none;
    display: inline-block;
    outline: none;
    text-decoration: none;
   }
   